body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px; /* Base font size */
    line-height: 1.6; /* Line height for better readability */
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.header {
    padding: 1em;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(139, 148, 103, 0.5);
}

.header h1 {
    color: #F7DC6F;
    font-size: 2.5em;
    -webkit-text-stroke: 1px darkolivegreen;
}

.nav {
    background-color: #8B9467;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.nav a:hover {
    color: #F7DC6F;
}

.nav a:focus {
    outline: 2px solid #F7DC6F; /* Focus style for accessibility */
}

.main {
    padding: 2em;
    background-color: #F7F4E9;
}

ol {
    list-style-type: none;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2em;
    }

    .nav a {
        margin: 5px;
    }

    .main {
        padding: 1em;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    .header h1 {
        font-size: 1.5em;
    }

    .main {
        padding: 0.5em;
    }
}
